API_ID=12341234
API_HASH=acdasdcq23reweadszasdaewdasdcasd
PHONE=+79999999999
REPORT_TO=@test
WORKING_HOURS_START=9
WORKING_HOURS_END=21
EXCLUDED_CHATS=["@PremiumBot","@SpamBot"]
REPORT_TYPES=unread,unanswered
LEADERBOARD_RESPONSE_LIST_COUNT=10
LEADERBOARD_RESPONSE_DAYS=7
