API_ID=12341234
API_HASH=acdasdcq23reweadszasdaewdasdcasd
PHONE=+79999999999
REPORT_TO=@test
WORKING_HOURS_START=9
WORKING_HOURS_END=21
RESPONSE_TIMEOUT_HOURS=2
EXCLUDED_CHATS=["@PremiumBot","@SpamBot"]
LOG_FILE=telegram_monitor.log
LOG_ROTATION=10 MB
